*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Raleway;
}

.quiz-container {
    max-width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    margin-top: 50px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timer {
    font-weight: bold;
    color: red;
}

.question-box {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}