*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Raleway;
}

.flash-message {
  font-size: 1.1em;
}

.success {
  color: #00ff3c;
}

.danger {
  color: #ff0019;
}